.navbar {
    background-color: rgb(229, 87, 87);
}

.nav-title {
    color: rgb(255, 255, 255);
}

.outer-letter {
    text-align: center;
}

.nav-btn {
    background-color: black;
}

.label {
    color: red;
}

.label-div {
    margin: 7px;
}

.edit-div {
    margin: 7px;
    padding: 7px;
}

.grow-wrap {
    /* easy way to plop the elements on top of each other and have them both sized based on the tallest one's height */
    display: grid;
  }
  .grow-wrap::after {
    /* Note the weird space! Needed to preventy jumpy behavior */
    content: attr(data-replicated-value) " ";
  
    /* This is how textarea text behaves */
    white-space: pre-wrap;
  
    /* Hidden from view, clicks, and screen readers */
    visibility: hidden;
  }
  .grow-wrap > textarea {
    /* You could leave this, but after a user resizes, then it ruins the auto sizing */
    resize: none;
  
    /* Firefox shows scrollbar on growth, you can hide like this. */
    /* overflow: hidden; */
  }
  .grow-wrap > textarea,
  .grow-wrap::after {
    /* Identical styling required!! */
    border: 1px solid black;
    padding: 0.5rem;
    font: inherit;
    /* Place on top of each other */
    grid-area: 1 / 1 / 2 / 2;
  }

mark {
    background-color: rgba(255, 255, 0, 0.5); /* highlighter yellow with 50% transparency */
    padding: 0;
}

.flag-button {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  .flag-button:hover {
    background-color: white;
    color: black;
  }

  .sticky-header {
    position: -webkit-sticky;
    position: sticky;
    top: 72px; /* Adjust according to your nav area height */
    background-color: white;
    z-index: 100;
  }  

  .sticky-navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
    /* Add any other desired styling for the navbar */
  }
  